<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>omdb</key>
	<string>1aee8bae</string>
	<key>kofic</key>
	<string>88ee355f1a2c98cfd7c27e70d8cf452d</string>
</dict>
</plist>
