<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>948892162032-qple5bbbjai5d0l5d665p1plmkjfs0cq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.948892162032-qple5bbbjai5d0l5d665p1plmkjfs0cq</string>
	<key>API_KEY</key>
	<string>AIzaSyAR7x2svZ5Artn-tbAFfEa2SRN7ot57guY</string>
	<key>GCM_SENDER_ID</key>
	<string>948892162032</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>net.yagom.BoxOffice.NephMinsson</string>
	<key>PROJECT_ID</key>
	<string>wanted-box-office-neph-m-c0b86</string>
	<key>STORAGE_BUCKET</key>
	<string>wanted-box-office-neph-m-c0b86.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:948892162032:ios:bbd9db6f17fb3ff6852f35</string>
</dict>
</plist>
